name: Manually deployment

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy'
        required: true
        default: 'master'
        type: string
      environment:
        description: 'Environment to deploy to'
        required: true
        default: qa1
        type: choice
        options: 
        - qa1
        - qa2
        - qa3

jobs:
  notify-start:
    uses: ./.github/workflows/slack_notify.yml
    with:
      params: "Branch: ${{ inputs.branch }}, Env: ${{ inputs.environment }}"
      state: STARTED
    secrets: inherit

  deploy:
    uses: ./.github/workflows/deploy_test.yml
    needs: notify-start
    with:
      branch: ${{ inputs.branch }}
      environment: ${{ inputs.environment }}
    secrets: inherit

  notify-failed:
    if: failure()
    needs: deploy
    uses: /.github/workflows/slack_notify.yml
    with:
      params: "Branch: ${{ inputs.branch }}, Env: ${{ inputs.environment }}"
      state: FAILED
    secrets: inherit

  notify-success:
    if: success()
    needs: deploy
    uses: ./.github/workflows/slack_notify.yml
    with:
      params: "Branch: ${{ inputs.branch }}, Env: ${{ inputs.environment }}"
      state: SUCCEEDED
    secrets: inherit