name: Test deployment

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy'
        required: true
        default: 'master'
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'dev'

jobs:
  deploy:
    uses: linhmtran168/linhmtran168.github.io/.github/workflows/deploy_test.yml@master
    with:
      branch: ${{ inputs.branch }}
      environment: ${{ inputs.environment }}
    secrets: inherit
