name: Real deploy

on:
  workflow_call:
    inputs:
      branch:
        description: 'Branch to deploy'
        required: true
        type: string
      environment:
        description: 'Environment to deploy to'
        required: true
        type: string

jobs:
  deploy-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 16.x
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    permissions:
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ inputs.branch }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3.2.0
      with:
        node-version: ${{ matrix.node-version }}

    - name: Test FAil
      run: exit 1

    - name: Echo info
      run: echo "Deployed ${{ inputs.branch }} to ${{ inputs.environment }}"
