name: Notify

on:
  workflow_call:
    inputs:
      params:
        description: 'Params for deployment'
        required: true
        type: string

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Test echo
        id: test-echo
        run: echo "${{ inputs.params }}"
