name: "Test Webhook"

on:
  repository_dispatch:
    types: [content_overload,content_overload2]

jobs:
  parse-env:
    runs-on: ubuntu-latest
    name: Parse environment
    outputs:
      env: ${{ steps.parse.outputs.env }}
    steps:
      - name: Parse environment
        id: parse
        env:
          EVENT_TYPE: ${{ github.event.action }}
        run: |
          TYPE_ARR=(${EVENT_TYPE//_/ })
          echo "::set-output name=env::${TYPE_ARR[1]}"

  next-job:
    runs-on: ubuntu-latest
    name: Just for test
    needs: parse-env
    steps:
      - name: Echo
        id: echo
        run: echo ${{ needs.parse-env.outputs.env }}